<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Signup</title>
  </head>
  <body>
    <form action="/list" method="post">
      <input type="text" name="item" value="" placeholder="Add Item to Todo List...">
      <input type="submit" name="" value="submit">
    </form>

    {{#listOfItems}}
    <p>{{.}}</p>
    {{/listOfItems}}

  </body>
</html>
