<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Signup</title>
  </head>
  <body>
    <form action="/list" method="post">
      <input type="text" name="item" value="" placeholder="Add Item to Todo List...">
      <input type="submit" name="" value="submit">
    </form>
    {{#items}}
      {{^complete}}
        <p>{{item}}</p>
      {{/complete}}
    {{/items}}
    <h1>Complete</h1>
    {{#items}}
    {{#complete}}
      <p>{{item}}</p>
    {{/complete}}
    {{/items}}
  </body>
</html>
